@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue-bg: hsl(207, 26%, 17%);
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);

  --background: var(--color-very-light-gray);
  --foreground: var(--color-very-dark-blue-text);

  --transition-duration: 200ms;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: 'Nunito Sans', sans-serif;

}

.attribution {
  font-size: 11px;
  text-align: center;
}


.dark {
  --background: var(--color-very-dark-blue-bg);
  --foreground: var(--color-white);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--nunito-sans);
  font-size: 14px;
  transition: all var(--transition-duration) ease, color var(--transition-duration) ease;
}

.detail-page {
  font-size: 16px;
}
